{% extends "snotes/layout1.html" %}

{% block body %}
    <div class="bg-gradient-to-r from-purple-700 via-indigo-900 to-indigo-700  w-full min-h-full flex items-center justify-center p-3 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8 rounded">
            <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
                {% if message %}
                <div class="rounded-xl flex items-center jusitfy-between px-5 py-4 mb-2 border border-white text-white">
                    <div class="w-full flex items-center font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class=" w-6 h-6 mr-2" viewBox="0 0 1792 1792">
                            <path d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z">
                            </path>
                        </svg>
                        {{ message }}
                    </div>
                </div>
                {% endif %}
            </div>

            <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl ">
                <section>
                    <h3 class="font-bold text-indigo-900 text-2xl">Welcome to Studynotes</h3>
                    <p class="text-gray-600 pt-2">Sign up for an account.</p>
                </section>
        
                <section class="mt-10">
                    <form class="flex flex-col" action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-2 pt-2 rounded bg-gray-200">
                            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="username">Username</label>
                            <input id="username" name="username" type="text" autocomplete="off" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-indigo-600 transition duration-500 px-3 pb-3">
                        </div>
                        <div class="mb-2 pt-2 rounded bg-gray-200">
                            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
                            <input id="email-address" name="email" type="email" autocomplete="email" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-indigo-600 transition duration-500 px-3 pb-3">
                        </div>
                        <div class="mb-2 pt-2 rounded bg-gray-200">
                            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
                            <input id="password" name="password" type="password" autocomplete="current-password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-indigo-600 transition duration-500 px-3 pb-3">
                        </div>
                        <div class="mb-2 pt-2 rounded bg-gray-200">
                            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Confirm Password</label>
                            <input id="password" name="confirmation" type="password" autocomplete="off" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-indigo-600 transition duration-500 px-3 pb-3">
                        </div>
                        <button type="submit" value="Register" class="mt-3 bg-indigo-700 hover:bg-indigo-800 rounded-full text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Sign In</button>
                    </form>
                </section>
                <div class="max-w-lg mx-auto text-center mt-12">
                    <p class="text-indigo-700">Already have an account ? <a class="text-indigo-700 font-medium hover:text-indigo-900" href="{% url 'login' %}"> Login here. </a></p>
                </div>
            </main>

        </div>
    </div>

{% endblock %}